Repository llmariner/file-manager, pull requests merged in 2025-03, with the labels that each got.

#114 feat(api): define CreateFileFromObjectPath
  api/v1/file_manager_service.pb.go
  api/v1/file_manager_service.pb.gw.go
  api/v1/file_manager_service.proto
  api/v1/file_manager_service.swagger.json
  api/v1/file_manager_service_grpc.pb.go
  buf.lock
  dist/api/v1/file_manager_service.pb.d.ts
  dist/api/v1/file_manager_service.pb.js
  ts/api/v1/file_manager_service.pb.ts
Labels: enhancement

#116 chore: return unauthenticated if ExtractUserInfoFromContext fails
  server/internal/server/files.go
Labels: skip-changelog

#117 feat: implement CreateFileFromObjectPath
  server/internal/server/files.go
  server/internal/server/files_test.go
Labels: enhancement

#118 feat: add an option to disable file upload
  deployments/server/templates/configmap.yaml
  deployments/server/values.schema.json
  deployments/server/values.yaml
  server/cmd/run.go
  server/internal/config/config.go
  server/internal/server/files_test.go
  server/internal/server/server.go
Labels: enhancement

#121 fix: add '/v1/files:createFromObjectPath' to ingress
  deployments/server/templates/ingress.yaml
Labels: bug

#122 fix: set use_proto_names=true in buf config
  buf.gen.ts.yaml
  dist/api/v1/file_manager_service.pb.d.ts
  ts/api/v1/file_manager_service.pb.ts
  ts/google/api/http.pb.ts
  ts/google/protobuf/descriptor.pb.ts
Labels: bug

#123 chore: make minor cosmetic change to CreateFileFromObjectPath
  server/internal/server/files.go
Labels: skip-changelog

#124 fix: add missing 'body: "*" to CreateFileFromObjectPath
  api/v1/file_manager_service.pb.go
  api/v1/file_manager_service.pb.gw.go
  api/v1/file_manager_service.proto
  api/v1/file_manager_service.swagger.json
  dist/api/v1/file_manager_service.pb.js
  ts/api/v1/file_manager_service.pb.ts
Labels: bug

#125 chore: provide a better error message on invalid purpose
  server/internal/server/files.go
Labels: skip-changelog

#126 feat(api): add pagination to ListFiles
  api/v1/file_manager_service.pb.go
  api/v1/file_manager_service.proto
  api/v1/file_manager_service.swagger.json
  dist/api/v1/file_manager_service.pb.d.ts
  ts/api/v1/file_manager_service.pb.ts
Labels: enhancement

#127 feat(api): impl the pagination in ListFiles
  server/internal/server/files.go
  server/internal/server/files_test.go
  server/internal/store/file.go
  server/internal/store/file_test.go
Labels: enhancement

#129 chore: make an object store config optional
  deployments/server/templates/configmap.yaml
  server/internal/config/config.go
Labels: skip-changelog

#131 fix: fix the nil-pointer-dereference when object store is not set
  server/cmd/run.go
Labels: bug

#133 feat(api): generate `index.js` and `index.d.ts` in the `dist` directory
  buf.lock
  dist/index.d.ts
  dist/index.js
  ts/index.ts
Labels: enhancement

#136 feat: make CreateFileFromObjectPathRequest reject a non-full path
  api/v1/file_manager_service.pb.go
  api/v1/file_manager_service.proto
  api/v1/file_manager_service.swagger.json
  server/internal/server/files.go
  server/internal/server/files_test.go
Labels: enhancement
